@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Anonymous Pro";
  src: url("../assets/fonts/AnonymousPro-Regular.ttf");
}
@font-face {
  font-family: "Anonymous Pro";
  src: url("../assets/fonts/AnonymousPro-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Anonymous Pro";
  src: url("../assets/fonts/AnonymousPro-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Anonymous Pro";
  src: url("../assets/fonts/AnonymousPro-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family:
    "Anonymous Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}
