@font-face {
  font-family: "Anonymous Pro";
  src: local('Anonymous Pro'), url("./assets/fonts/AnonymousPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Anonymous Pro";
  src: local('Anonymous Pro'), url("./assets/fonts/AnonymousPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Anonymous Pro";
  src: local('Anonymous Pro'), url("./assets/fonts/AnonymousPro-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Anonymous Pro";
  src: local('Anonymous Pro'), url("./assets/fonts/AnonymousPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local('Brandon Grotesque'),
    url("./assets/fonts/BrandonGrotesque-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  font-family:
    "Brandon Grotesque",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}
